.progress_spinner {
    margin-top: 5px;
    padding-top: 70px;
}

.progress_spinner mat-spinner {
    margin: 0 auto;
}

#content{
    width: 375px;
}

p{
    margin: 50px;
}

.data_table {
    height: 175px;
    overflow-y: scroll;
}