<mat-card>
    <mat-card-header>
        <mat-card-title>Guidance Component Eight</mat-card-title>
        <mat-card-subtitle>Editable-Table-Data (API Called)</mat-card-subtitle>
    </mat-card-header>
    <div class="container text-center">
        <div class="progress_spinner" *ngIf="progressSpinner">
            <mat-spinner mode="indeterminate" [diameter]="25"></mat-spinner>
        </div>
        <div *ngIf="!progressSpinner">
            <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> TITLE </th>
                    <td mat-cell *matCellDef="let element" width="350"> {{element.title}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> ACTION </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                        <a (click)="openDialog('Update',element)">Edit</a> |
                        <a (click)="openDialog('Delete',element)">Delete</a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <button mat-button (click)="openDialog('Add',{action: undefined})" mat-flat-button color="primary">Add
            Row</button>
    </div>
    <div id="pagination_div">
        <mat-paginator #paginator [pageSizeOptions]="[3]" hidePageSize showFirstLastButtons aria-label="Select page">
        </mat-paginator>
    </div>
</mat-card>