.box{
    width: 280px;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}