<div class="container">
    <div id="dashboardothers-styling">
        <div id="row_1" class="general_row_styling">
            <div class="sub_component">
                <app-dashboardothers-component-one></app-dashboardothers-component-one>
            </div>
            <div class="sub_component">
                <app-dashboardothers-component-two></app-dashboardothers-component-two>
            </div>
            <div class="sub_component">
                <app-dashboardothers-component-three></app-dashboardothers-component-three>
            </div>
        </div>
        <div id="row_2" class="general_row_styling">
            <div class="sub_component">
                <app-dashboardothers-component-four></app-dashboardothers-component-four>
            </div>
            <div class="sub_component">
                <app-dashboardothers-component-five></app-dashboardothers-component-five>
            </div>
            <div class="sub_component">
                <app-dashboardothers-component-six></app-dashboardothers-component-six>
            </div>
        </div>
        <div id="row_3" class="general_row_styling">
            <div class="sub_component">
                <app-dashboardothers-component-seven></app-dashboardothers-component-seven>
            </div>
            <div class="sub_component">
                <app-dashboardothers-component-eight></app-dashboardothers-component-eight>
            </div>
            <div class="sub_component">
                <app-dashboardothers-component-nine></app-dashboardothers-component-nine>
            </div>
        </div>
    </div>
</div>