<mat-card>
    <mat-card-header>
        <mat-card-title>Dashboardothers Component Seven</mat-card-title>
        <mat-card-subtitle>Ngx-Capture (API Called)</mat-card-subtitle>
    </mat-card-header>
    <div>
        <circle-progress *ngIf="showSpinner" [percent]="100" [radius]="100" [outerStrokeWidth]="16"
            [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="10000">
        </circle-progress>
    </div>
</mat-card>