<mat-card>
    <mat-card-header>
        <mat-card-title>Dashboardothers Component Six</mat-card-title>
        <mat-card-subtitle>Ngx-Cirle-Progress (API Called)</mat-card-subtitle>
    </mat-card-header>
    <div>
        <circle-progress 
            [percent]="dataSource.id" 
            [radius]="80" 
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#C7E596'" 
            [animation]="true" 
            [animationDuration]="300">
        </circle-progress>
    </div>
</mat-card>