.form_content{
    margin-top: 10px;
    margin-left: 20px;
    width: 300px;
}

.example-form {
    min-width: 250px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}