<div class="container">
    <div id="report-styling">
        <div id="row_1" class="general_row_styling">
            <div class="sub_component">
                <app-reportothers-component-one></app-reportothers-component-one>
            </div>
            <div class="sub_component">
                <app-reportothers-component-two></app-reportothers-component-two>
            </div>
            <div class="sub_component">
                <app-reportothers-component-three></app-reportothers-component-three>
            </div>
        </div>
        <div id="row_2" class="general_row_styling">
            <div class="sub_component">
                <app-reportothers-component-four></app-reportothers-component-four>
            </div>
            <div class="sub_component">
                <app-reportothers-component-five></app-reportothers-component-five>
            </div>
            <div class="sub_component">
                <app-reportothers-component-six></app-reportothers-component-six>
            </div>
        </div>
        <div id="row_2" class="general_row_styling">
            <div class="sub_component">
                <app-reportothers-component-seven></app-reportothers-component-seven>
            </div>
            <div class="sub_component">
                <app-reportothers-component-eight></app-reportothers-component-eight>
            </div>
            <div class="sub_component">
                <app-reportothers-component-nine></app-reportothers-component-nine>
            </div>
        </div>
    </div>
</div>