#guidance-styling{
    margin-top: -22px;
    margin-left: -80px;
}

.general_row_styling{
    display: flex;
    margin-top: 10px;
}

#row_1{
    margin-top: 30px;
}

.sub_component{
    padding: 5px;
}