<div class="container">
    <div id="guidance-styling">
        <div id="row_1" class="general_row_styling">
            <div class="sub_component">
                <app-guidance-component-one></app-guidance-component-one>
            </div>
            <div class="sub_component">
                <app-guidance-component-two></app-guidance-component-two>
            </div>
            <div class="sub_component">
                <app-guidance-component-three></app-guidance-component-three>
            </div>
        </div>
        <div id="row_2" class="general_row_styling">
            <div class="sub_component">
                <app-guidance-component-four></app-guidance-component-four>
            </div>
            <div class="sub_component">
                <app-guidance-component-five></app-guidance-component-five>
            </div>
            <div class="sub_component">
                <app-guidance-component-six></app-guidance-component-six>
            </div>
        </div>
        <div id="row_2" class="general_row_styling">
            <div class="sub_component">
                <app-guidance-component-seven></app-guidance-component-seven>
            </div>
            <div class="sub_component">
                <app-guidance-component-eight></app-guidance-component-eight>
            </div>
            <div class="sub_component">
                <app-guidance-component-nine></app-guidance-component-nine>
            </div>
        </div>
    </div>
</div>