<h1 mat-dialog-title>Row Action :: <strong>{{ action }}</strong></h1>
<div mat-dialog-content>
    <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
        <input placeholder="{{ action }} Title" matInput [(ngModel)]="local_data.title">
    </mat-form-field>
    <ng-template #elseTemplate>
        Sure to delete <b>{{local_data.title}}</b>?
    </ng-template>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="doAction()">{{ action }}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>