<div class="container">
    <div id="testprogress-styling">
        <div id="row_1" class="general_row_styling">
            <div class="sub_component">
                <app-testprogressothers-component-one></app-testprogressothers-component-one>
            </div>
            <div class="sub_component">
                <app-testprogressothers-component-two></app-testprogressothers-component-two>
            </div>
            <div class="sub_component">
                <app-testprogressothers-component-three></app-testprogressothers-component-three>
            </div>
        </div>
        <div id="row_2" class="general_row_styling">
            <div class="sub_component">
                <app-testprogressothers-component-four></app-testprogressothers-component-four>
            </div>
            <div class="sub_component">
                <app-testprogressothers-component-five></app-testprogressothers-component-five>
            </div>
            <div class="sub_component">
                <app-testprogressothers-component-six></app-testprogressothers-component-six>
            </div>
        </div>
        <div id="row_2" class="general_row_styling">
            <div class="sub_component">
                <app-testprogressothers-component-seven></app-testprogressothers-component-seven>
            </div>
            <div class="sub_component">
                <app-testprogressothers-component-eight></app-testprogressothers-component-eight>
            </div>
            <div class="sub_component">
                <app-testprogressothers-component-nine></app-testprogressothers-component-nine>
            </div>
        </div>
    </div>
</div>